{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    // "no-var-requires": false
    "eol-last": ["error", "always"],
    "semi": ["error", "always"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}